<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEsohdPuTRseTU780ZcXC54KZ39IPl-uA</string>
	<key>GCM_SENDER_ID</key>
	<string>510931633542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ZipCart</string>
	<key>PROJECT_ID</key>
	<string>drivethroughu-d24cb</string>
	<key>STORAGE_BUCKET</key>
	<string>drivethroughu-d24cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510931633542:ios:e6df6473c0f65ddf285807</string>
</dict>
</plist>